{% extends "base_generic.html" %}

{% block content %}
   <div class="panel panel-primary col-md-10">
      <div class="panel-heading"><h1>Author List</h1></div>
      <div class="panel-body">
          {% if author_list %}
          <ul class="list-group">
      
              {% for author in author_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h3 class="lead"><a href="{{ author.get_absolute_url }}">{{ author }}</a> ({{author.date_of_birth}})</h3>
              {% if perms.catalog.library_staff %}
              <a class="btn btn-solid btn-sm text-warning" href="{% url 'author_update' author.id %}">Edit</a>
              <a class="btn btn-solid btn-sm text-danger" href="{% url 'author_delete' author.id %}">Delete</a>      
              {% endif %}
            </li>
            {% endfor %}
      
          </ul>
          {% else %}
            <p>There are no books in the library.</p>
          {% endif %}  
      </div>
    </div>
{% endblock %}